@import "~Assets/css/index.less";

#hello{
  color: @color-yellow;
  display: flex;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  width: 100px;
  height: 100px;
  .width(200px);
  background: url('~@/assets/img/img-9.png') no-repeat 0 0;
}
