@import "~Assets/css/index.less";

#hello{
  color: @color-yellow;
  display: flex;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  width: 100px;
  height: 100px;
  .width(200px);
  background: #ccc;
}
